### Local developer / local build settings
application-local-override.properties

### Build systems ###

## Node.js / NPM / Yarn
/dist/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Editors & IDEs ###

## IntelliJ IDEA
*.iml
*.iws
.idea/

## Eclipse
.metadata
.settings/
.loadpath
.project
.classpath
.externalToolBuilders/

## Visual Studio Code
.vscode/

### Misc ###

## System Files
.DS_Store
Thumbs.db

## JVM Fatal Error logs
hs_err_pid*.log

## Files, that should never be ignored
!**/.gitkeep
!**/.gitignore
!**/.gitattributes
!**/.editorconfig
